[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nest-ms-test/client-gateway
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nest-ms-test/products-ms
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/nest-ms-test/orders-ms
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/nest-ms-test/payments-ms
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/nest-ms-test/auth-ms.git
